.carrito-vacio:hover{
    cursor: pointer;
}


.borrar-display{
    display: block;
}

.borrar:hover{
    cursor: pointer;
    color: red;
}

.logoWhatsapp {
    position: fixed;
    right: 15px;
    bottom: 10px;
}

.imgwhatsapp {
    max-width: 60px;
}